.dataResult {
    width: 100%;
    height: 200px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
    position: absolute;
    z-index: 100;
  }
  
  .dataResult .dataItem {
    width: 100%;
    height: auto;
    display: block;
    align-items: center;
    color: var(--dark);
  }