name: Docker Image CI - SysSoftIntegra FrontEnd

on:
  push:
    branches: 
      - "master"
      - "staging"
      - "test"
      - "development"

jobs:
  build-reactjs:
    name: Build Front-End (React Js)
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - environment: leatsac
            service: leatsac-services
          - environment: ferreteria-rym
            service: ferreteria-rym-services
          - environment: importmuneli
            service: importmuneli-services
          - environment: supermarketya
            service: supermarketya-services
          - environment: dracoly
            service: dracoly-services
          - environment: main
            service: main-services
          - environment: desarrollo
            service: sysintegra-services
  
    environment: ${{ matrix.environment }}

    steps:
      - name: Checkout código
        uses: actions/checkout@v3
      - name: Crear archivo .env
        run: |
          cat > .env <<EOL
          VITE_APP_BACK_END="${{secrets.VITE_APP_BACK_END}}"
          VITE_APP_APIS_PERU="${{secrets.VITE_APP_APIS_PERU}}"
          VITE_APP_ENV="${{vars.VITE_APP_ENV}}"
          VITE_APP_VERSION="${{vars.VITE_APP_VERSION}}"
          VITE_APP_NAME="${{vars.VITE_APP_NAME}}"
          EOL
      - name: Construyendo contenedor ReactJs
        run: docker compose -f docker-compose.build.yml build ${{ matrix.service }}
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v1 
      
      - name: Tag front-end image
        run: docker tag ${{ matrix.environment }}-frontend ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/syssoftintegra/front-end:${{ matrix.environment }}-latest
      - name: Push front-end image to ECR
        run: docker push ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/syssoftintegra/front-end:${{ matrix.environment }}-latest

  deploy-reactjs:
    name: Deploy Front-End (React Js)
    runs-on: webs
    needs: build-reactjs

    strategy:
      matrix:
        include:
          - environment: leatsac
            service: leatsac-services
          - environment: ferreteria-rym
            service: ferreteria-rym-services
          - environment: importmuneli
            service: importmuneli-services
          - environment: supermarketya
            service: supermarketya-services
          - environment: dracoly
            service: dracoly-services
          - environment: main
            service: main-services
          - environment: desarrollo
            service: desarrollo-services

    env:
      AWS_REGION: ${{ secrets.AWS_REGION }}
      AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
      NAME_SERVICE: ${{ matrix.environment }}

    steps:
      - name: Checkout código
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v1

      - name: Descargar imagen desde ECR
        run: docker pull ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/syssoftintegra/front-end:${{ matrix.environment }}-latest

      - name: Crear archivo Compose para ${{ matrix.environment }}
        run: |
          cat <<EOF > docker-compose-${{ matrix.environment }}.yml
          services:
            ${NAME_SERVICE}:
              image: ${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/syssoftintegra/front-end:${NAME_SERVICE}-latest
              container_name: ${NAME_SERVICE}-frontend
              restart: always
              networks:
                - luis
          networks:
            luis:
              external: true
          EOF

      - name: Crear y ejecutar contenedor en producción
        run: docker compose -f docker-compose-${{ matrix.environment }}.yml up -d ${{ matrix.environment }}

      - name: Eliminar Compose temporal
        run: rm docker-compose-${{ matrix.environment }}.yml

      - name: Eliminar imágenes locales
        run: docker image prune -af || true
  
  clean-ecr-images:
    name: Borrar imágenes antiguas de ECR
    runs-on: ubuntu-latest
    needs: [build-reactjs]

    strategy:
      matrix:
        include:
          - environment: leatsac
            service: leatsac-services
          - environment: ferreteria-rym
            service: ferreteria-rym-services
          - environment: importmuneli
            service: importmuneli-services
          - environment: supermarketya
            service: supermarketya-services
          - environment: dracoly
            service: dracoly-services
          - environment: main
            service: main-services
          - environment: desarrollo
            service: desarrollo-services

    environment: ${{ matrix.environment }}

    steps:
      - name: Configurar credenciales AWS
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Instalar jq
        run: sudo apt-get install -y jq

      - name: Borrar imágenes antiguas para ${{ matrix.environment }}
        run: |
          REPO_NAME="syssoftintegra/front-end"
          
          echo "Buscando imágenes antiguas en el repositorio: $REPO_NAME para entorno: ${{ matrix.environment }}"
          
          aws ecr list-images \
            --repository-name $REPO_NAME \
            --query 'imageIds[?contains(imageTag, `{{ matrix.environment }}`) && imageTag!=`'${{ matrix.environment }}-latest'`]' \
            --output json > images.json

          if [ $(jq length images.json) -gt 0 ]; then
            echo "Se eliminarán $(jq length images.json) imágenes para ${{ matrix.environment }}"
            aws ecr batch-delete-image --repository-name $REPO_NAME --image-ids file://images.json
          else
            echo "No hay imágenes antiguas para eliminar para ${{ matrix.environment }}"
          fi
